.content{
    width: 100%;
    height: 100%;
}

.back{
    position: absolute;
    left: 5%;
    top: 5%;
    background-color: #3b3939;
    font-size: 50px;
    width: 61px;
    height: 57px;
    border-radius: 18px;
    color: white;
}

.entering_currency{
    position: absolute;
    left: 10%;
    top: 15%;
    background-color:  rgba(231, 232, 187, 0.987);
    height: 20%;
    width: 80%;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: self-end;
}

.convert{
    display: none;
}

.convert_label{
    position: absolute;
    left: 50%;
    top: 32%;
    background-color: black;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 43px;
    z-index: 1;
}

.entering_left {
    background-color: transparent;
    height: 60px;
    width: 300px;
    margin: 0 0 34px 30px;
    font-size: 40px;
    border: none;
}

.entering_left:focus{
    outline: none;
    border-bottom: 2px solid black ;
}

h2::before {
    content: "";
    position: absolute;
    left: -10%;
    top: 281%;
    width: 300px;
    height: 2px;
    background-color: #000;
    background: linear-gradient(to right, transparent, #000, transparent);
  }

.entering_rite{
    display: flex;
    align-items: center;
    font-size: 30px;
    margin: 0 30px 34px 0;
}

.conclusion_currency{
    position: absolute;
    left: 10%;
    top: 37%;
    background-color:  rgb(229, 183, 234);
    height: 20%;
    width: 80%;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: self-end;
}

h1{
    position: absolute;
    left: 48%;
    top: 5%;
    color:  white;
    font-size: 40px;
}

h2 {
    position: absolute;
    left: 3%;
    top: 25%;
    color:  black;
    font-size: 32px;
}

h3 {
    color:  white;
    font-size: 21px;
    margin-left: 30px;
}

h4{
    color:  white;
    font-size: 21px;
    margin-left: 30px;
    opacity: 0.6;
}

.tax_lvl{
    color: white;
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-size: 30px;
}

.red{
    color: rgb(232, 150, 150);
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-size: 30px;
}

.tax{
    position: absolute;
    left: 10%;
    top: 70%;
    background-color:  #3b3939;
    height: 10%;
    width: 80%;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tax_text_top{
    margin-left: 30px;
    color: black;
}

.tax_text_bot{
    opacity: 0.6;
    margin-left: 30px;
    color: black;
}

@media (min-width: 768px) and (max-width: 1024px) {
    h1{
        position: absolute;
        left: 44%;
        top: 5%;
        color:  white;
        font-size: 40px;
    }

    .convert_label{
        position: absolute;
        left: 47%;
        top: 32%;
        background-color: black;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 43px;
        z-index: 1;
    }
  }

@media (min-width: 320px) and (max-width: 768px) {
    h1{
        position: absolute;
        left: 40%;
        top: 5%;
        color:  white;
        font-size: 40px;
    }

    .convert_label{
        position: absolute;
        left: 45%;
        top: 32%;
        background-color: black;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 43px;
        z-index: 1;
    }

    .entering_currency{
        position: absolute;
        left: 0%;
        top: 15%;
        background-color:  rgba(231, 232, 187, 0.987);
        height: 185px;
        width: 100%;
        border-radius: 50px;
        display: flex;
        justify-content: space-between;
        align-items: self-end;
    }

    .conclusion_currency{
        position: absolute;
        left: 0%;
        top: 37%;
        background-color:  rgb(229, 183, 234);
        height: 185px;
        width: 100%;
        border-radius: 50px;
        display: flex;
        justify-content: space-between;
        align-items: self-end;
    }

    .tax{
        position: absolute;
        left: 0%;
        top: 70%;
        background-color:  #3b3939;
        height: 10%;
        width: 100%;
        border-radius: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h2::before {
        content: "";
        position: absolute;
        left: -10%;
        top: 281%;
        width: 200px;
        height: 2px;
        background: linear-gradient(to right, transparent, #000, transparent);
      }

    .entering_left {
        background-color: transparent;
        height: 60px;
        width: 200px;
        margin: 0 0 34px 30px;
        font-size: 40px;
        border: none;
    }
}