.deposit_page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
}

.back{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: absolute;
    left: 5%;
    top: 40px;
    background-color: #3b3939;
    font-size: 50px;
    width: 61px;
    height: 57px;
    border-radius: 18px;
    color: white;
}

.deposit_h1{
    position: absolute;
    left: 48%;
    top: 40px;
    color:  white;
    font-size: 40px;
}

/* Блок с картой */
.card_block{
    display: flex;
    justify-content: space-evenly;;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 900px;
    background-image: url(/public/images/card.png);
    border-radius: 20px;
    box-shadow: 0 0 37px 10px rgba(250, 250, 1, 0.5);
    background-size: cover;
    background-position: center;
    border: 1px solid #000;
}

.info{
    font-size: 30px;
    opacity: 0.7;
    margin-top: 150px;
}

.input_block{
    display: flex;
    width: 100%;
    padding-left: 165px;
}

.input_number_card{
    height: 55px;
    width: 153px;
    margin-right: 35px;
    font-size: 50px;
}

.continue{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 175px;
    border-style: none;
    background-color: rgb(130, 124, 124);
    border-radius: 20px;
    font-size: 25px;
    color: black;
    text-decoration: none;
    margin-right: -600px;
    border: 1px solid #000;
}

.continue.active{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 175px;
    border-style: none;
    background-color: rgb(250, 228, 105);
    border-radius: 20px;
    font-size: 25px;
    color: black;
    text-decoration: none;
    margin-right: -600px;
    border: 1px solid #000;
}