.wallet_point{
    color: white;
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-size: 30px;
}

.icon{
    width: 36px;
    height: 34px;
    border-radius: 50%;
}

.balance{
    margin: 0 10px 0 10px;
}


.wallet{
    position: absolute;
    left: 10%;
    top: 59%;
    background-color:  #3b3939;
    height: 10%;
    width: 80%;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wallet_blackout{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.wallet_content{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    padding: 30px;
    background-color: rgb(222, 194, 198);
    z-index: 3;
}

.currency_balance p:last-child{
    width: 190px;
    display: flex;
    flex-direction: row-reverse;
}

.wallet_heading{
    font-size: 31px;
}

.button_balance{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 21px;
    border-style: none;
    padding: 10px;
    margin-top: 10px;
}

.wallet_balance{
    width: 100%;
}

.currency_balance{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    font-size: 27px;
}

@media (min-width: 320px) and (max-width: 768px) {
    .wallet{
        position: absolute;
        left: 0%;
        top: 59%;
        background-color:  #3b3939;
        height: 10%;
        width: 100%;
        border-radius: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}