.back{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: absolute;
    left: 5%;
    top: 40px;
    background-color: #3b3939;
    font-size: 50px;
    width: 61px;
    height: 57px;
    border-radius: 18px;
    color: white;
}

.transfer_h1{
    position: absolute;
    left: 44%;
    top: 40px;
    color:  white;
    font-size: 40px;
}

/* Блок трансфера */

.transfer{
    position: absolute;
    left: 5%;
    top: 15%;
    background-color: rgba(100, 154, 100, 0.987);
    height: 555px;
    width: 85%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.transfer_block{
    display: flex;
    background: linear-gradient(to right, rgb(138, 204, 138), rgba(233, 231, 231, 0.594));
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.your_account{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.user_block{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
}

.user_number, .transfer_name{
    font-size: 21px;
}

.transfer_transfer{
    font-size: 30px;
}

.user_balance{
    font-size: 30px;
    margin-top: 10px;
}

.avatar{
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.user_info{
    margin-left: 10px;
}


/* Блок получателя */
.recipient_account{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.target_header{
    font-size: 50px;
}

.target_info{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 15px;
}

.transfer_type{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    background-color: black;
    color: white;
    height: 30px;
    width: 65px;
    margin-right: 10px;
}

.target_wallet{
    font-size: 22px;
    width: 60%;
}

.transfer_volume{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 133px;
    justify-content: space-between;
    margin-top: 15px;
}

.transfer_value{
    display: flex;
}

.input_value{
    font-size: 30px;
    text-align: right;
    width: 50%;
    margin-right: 10px;
    height: 30px;
}

.volume_transfer{
    font-size: 30px;
    width: 70px;
    padding: 0 10px;
}

.button_wallet{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 10px;
    background-color: white;
    color: black;
    margin-left: 10px;
    height: 32px;
}

.checkbox, .invisible{
    display: none;
}

.handleCurrencySelect{
    display: block;
    font-size: 30px;
    background-color: rgb(139 189 145);
    border-radius: 15px;
    border: solid 1px black;
    list-style: none;
    padding: 0 10px;
    z-index: 2;
}


/* История переводов */

.history{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    overflow: auto;
}

.story_list{
    display: block;
    background-color: rgb(138, 204, 138);
    border: solid 1px black;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    height: 100%;
    overflow: auto;
}

.story_list::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }
  
.story_list::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.users_info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    height: 50px;
    border: solid 1px black;
    border-radius: 10px;
    margin: 5px 0;
    position: relative;
}

.users_img{
    height: 50px;
    width: 50px;
    border-radius: 5px;
    object-fit: cover;
}

.users_transfer{
    display: flex;
    flex-direction: row;
}

.confirm_transfer{
    position: absolute;
    top: 549px;
    right: 7%;
    font-size: 30px;
    padding: 0 5px;
    border-radius: 10px;
}

.transfer_value_history{
    margin-right: 10px;
}

@media (min-width: 320px) and (max-width: 1024px) {
    .back{
        left: 40px;
    }

    .transfer{
        left: 0%;
        height: 555px;
        width: 100%;
        padding: 20px 0;
    }

    .user_block{
        font-size: 16px;
    }

    .target_header{
        font-size: 32px;
    }

    .user_balance, .transfer_transfer{
        font-size: 24px;
    }

    .volume_transfer{
        padding: 0;
        font-size: 24px;
        width: auto;
    }

    .input_value{
        font-size: 24px;
        height: 24px;
    }

    .button_wallet{
        font-size: 25px;
        height: 25px;
    }

    .handleCurrencySelect{
        font-size: 24px;
        padding: 0;
        border-radius: 5px;
    }

    .confirm_transfer{
        top: 543px;
        right: 20px;
        border-radius: 10px;
        font-size: 24px;
    }

    .transfer_volume{
        top: 100px;
    }
}